# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/bin/Debug/MyApplication.vshost.exe
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/bin/Debug/MyApplication.vshost.exe.config
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/bin/Debug/MyApplication.vshost.exe.manifest
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/MyApplication.v12.suo
WPF_Unleashed/obj/Debug/WPF_Unleashed_MarkupCompile.i.cache
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/DialogWindow.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WPF_Unleashed/bin/Debug/WPF_Unleashed.vshost.exe.manifest
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/obj/Debug/PhotoGallery_MarkupCompile.i.cache
WPF_Unleashed/obj/Debug/WPF_Unleashed_Content.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/App.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/MainWindow.g.i.cs
*.cache
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/MyApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.exe
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/bin/Debug/PhotoGallery.vshost.exe.config
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/bin/Debug/PhotoGallery.vshost.exe.manifest
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/obj/Debug/App.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/obj/Debug/MainWindow.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/obj/Debug/RenameDialog.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/LayoutPanels.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/DockPanel.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/Visibility.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/Window1.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/2_WPFApplication_Creation/7_ApplicationDeployment/Standard PhotoGallery/StandardPhotoGallery.v12.suo
WPF_Unleashed/bin/Debug/WPF_Unleashed.vshost.exe.config
WPF_Unleashed/obj/Debug/1.Basic Information/1.WPFandSilverlight/WPFandSilverlight.g.i.cs
WPF_Unleashed/obj/Debug/1.Basic Information/1_WPFandSilverlight/WPFandSilverlight.g.i.cs
WPF_Unleashed/obj/Debug/1.Basic Information/BasicInformation.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/1_WPFandSilverlight/WPFandSilverlight.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/2_XAML/StreamConditioningOffset.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/2_XAML/XAML.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/3_WPFBasics/AboutWindow.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/3_WPFBasics/MyButton.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/3_WPFBasics/WPFBasics.g.i.cs
WPF_Unleashed/obj/Debug/1_Basic Information/BasicInformation.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/Alignment.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/ElementSizePositionTransformation.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/MarginPadding.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/4_Element_size_position_transformation/Transform.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/Canvas.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/DockPanel1.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/GridSplitter.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/ScrollView.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/SharedSizeGroup.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/ViewBox.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/VisualStudio.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/5_LayoutPanels/VisualStudioLikePanes.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/AttachedEvent.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/Command.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/InputEvents.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/IntegralCommand.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/ManipulationEvents.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/RoutedEvent.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/Spin.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/6_InputEvents/TouchEvents.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/ApplicationDeployment.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/ChildWindow.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/Gadget.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/GadgetWindow.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/Navigation.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/NavigationPage.g.i.cs
WPF_Unleashed/2_WPFApplication_Creation/8_Windows7Features/Windows7Features.xaml.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/NavigationWindow.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/PhotoPage.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/7_ApplicationDeployment/TestWindow.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/8_Windows7Features/Windows7Features.g.i.cs
WPF_Unleashed/obj/Debug/2_WPFApplication_Creation/WPFApplicationCreation.g.i.cs
WPF_Unleashed/obj/Debug/App.g.i.cs
WPF_Unleashed/obj/Debug/Basic Information/BasicInformation.g.i.cs
WPF_Unleashed/obj/Debug/MainWindow.g.i.cs
WPF_Unleashed/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF_Unleashed/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/9_1ChildElements/OneChildElements.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/9_1ChildElements/Button.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/9_1ChildElements/GroupBox.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/9_1ChildElements/Label.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/ControlElements.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/ComboBox.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/DataGrid.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/ListBox.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/ListView.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/ManyChildElements.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/Selectors.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/TabControl.g.i.cs
WPF_Unleashed/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/Menu.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/StatusBar.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/ToolBar.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/10_ManyChildElements/TreeView.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/Image.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/ImageTextOther.g.i.cs
WPF_Unleashed/bin/Debug/storage.xml
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/CalendarControls.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/Comments.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/Documents.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/RangeControls.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/Spans.g.i.cs
WPF_Unleashed/obj/Debug/3_Control_Elements/11_ImageTextOther/TextInk.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/DockPanel.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/Grid.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/GridSplitter.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/MyDockPanel.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/Panels.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/ScrollViewer.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/SharedGroupSize.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/StackPanel.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/WrapPanel.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Testing.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/CoolPanel.g.i.cs
WPF_Unleashed/obj/Debug/Testing/Panel/ViewBox.g.i.cs
